#page-map {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

#page-map aside {
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;

  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .create-orphanage {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  bottom: 40px;
  transition: background-color .2s;

  background: #15c3d6;
  border-radius: 20px;
}

#page-map .create-orphanage:hover {
  background: #17d6eb;
}
